{{#if user}}
  <p>Name: {{user.name}}</p>
  <p>Address: {{user.address}}</p>
  <p>Visits: {{user.contador}}</p>
  <form action="/logout" method="POST">
    <div class="d-flex">
      <input class="btn btn-primary" type="submit" value="Log Out" />
    </div>
  </form>
{{/if}}