<div class="container my-5">
  <div class="jumbotron">
    <h1>Log In</h1>
    <form
      class="form mt-2"
      action="/login"
      method="post"
      role="form"
      autocomplete="off"
    >
      <div class="form-group">
        <input
          id="nombre"
          name="username"
          placeholder="name"
          class="form-control"
          type="text"
          required
        />
      </div>
      <div class="form-group">
        <input
          id="password"
          name="password"
          placeholder="password"
          class="form-control"
          type="password"
          required
        />
      </div>
      <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Login" />
      </div>
    </form>
    <div class="text-left mt-2">
      <button
        class="btn btn-success my-3"
        onclick="location.href = '/signin'"
      >Sign In</button>
    </div>
  </div>
</div>