<div class="container my-5">
  <div class="jumbotron">
    <h1>¡Bye {{ username }}!</h1>
    
    <hr>
    
    <div class="text-left">
      <button class="btn btn-success my-3" onclick="location.href = '/login'">Log In</button>
    </div>
  </div>
</div>