<div class="flex justify-center">
  <div class="mt-10 w-1/4 bg-gray-800 py-10 px-10 rounded-box">
    <div class="mb-5 text-white">
      <h1 class="text-3xl mb-1">Sign Up</h1>
      <h2 class="text-base font-light">It's quick and easy.</h2>
    </div>
    <form
      class="w-full flex flex-col gap-3"
      action="/signup"
      method="post"
      role="form"
      autocomplete="off"
    >

      <input
        id="nombre"
        name="username"
        placeholder="Your username"
        class="input input-bordered w-full"
        type="text"
        required
      />

      <input
        id="password"
        name="password"
        placeholder="New password"
        class="input input-bordered w-full"
        type="password"
        required
      />

      <input class="btn btn-secondary" type="submit" value="Sign up" />
    </form>
    <div class="divider"></div>
    <div class="w-full">
      <input
        class="btn btn-primary w-full"
        onclick="location.href = '/login'"
        value="Log In"
      />
    </div>
  </div>
</div>