<div class="mt-5 flex flex-col">
  <h2 class="text-xl">Lista de productos</h2>
  <div class="overflow-x-auto mt-5">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th></th>
          <th>Título</th>
          <th>Precio</th>
          <th>Miniatura</th>
        </tr>
      </thead>
      <tbody>
        {{#if products.length}}
          {{#each products}}
            <tr>
              <th></th>
              <td>{{this.title}}</td>
              <td>${{this.price}}</td>
              <td><img height="72px" width="72px" src={{this.thumbnail}} /></td>
            </tr>
          {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
</div>