<form action="/productos" method="post">
  <input type="text" name="title" placeholder="Title" required />
  <input type="number" name="price" placeholder="Price" required />
  <input type="text" name="thumbnail" placeholder="Thumbnail" required />
  <input type="submit" value="Enviar!" />
</form>
<button><a href="/productos">Ir a productos</a></button>